.parent {
    height: 400px;
    width: 400px;
    background-color: maroon;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.children {
    height: 350px;
    width: 350px;
    background-color: aqua;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grandChildren {
    height: 250px;
    width: 250px;
    background-color: palegoldenrod;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}